
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.background{
    background: rgb(28,28,34);
background: linear-gradient(90deg, rgba(28,28,34,1) 49%, rgba(47,32,42,1) 95%);
}
.purple{
color:#B44467;
}
.bg-purple{
    background-color: #B44467;
}
.border-purple{
    border:1px solid #B44467;
}
.screen-max-width {
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width: 1120px;
  }
  .quiz-container {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #4e4548;
    
}

.option-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
   
}

button {
    padding: 10px 20px;
    background-color: #081214;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}